PORT=3000
USERNAME=root
PASSWORD=123456
HOST=localhost
PORT=5432
DBNAME=taskr
DEFAULT_USER_EMAIL="default@example.com"
DEFAULT_USER_PASSWORD="Password12#"
MAIL_HOST="smtp host"
MAIL_PORT=5555
MAIL_USER="xxxxxxx"
MAIL_PASS="xxxxxxx"
MAIL_FROM="mail@mail.com"
APP_URL="http://localhost:3000"
CLOUDINARY_NAME="xxxxxxx"
CLOUDINARY_API_KEY="xxxxxxx"
CLOUDINARY_SECRET="xxxxxxx"
